terratowns_endpoint = "https://terratowns.cloud/api"
bucket_name = "three-kings-website-bucket"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
htmls_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/"
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets/"
content_version = 1
