terratowns_endpoint = "https://terratowns.cloud/api"
website_root_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/"
dizzy = {
    project_folder = "dizzy"
    content_version = 1
}

recipes = {
    project_folder = "recipes"
    content_version = 1
}
